.amatic-sc-regular {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-sc-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.toggle-button {
    cursor: pointer;
    display: none;
    float: right;
    margin-left: auto;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}


.logohome {
    color: black;
    text-decoration: none;
    font-family: "Amatic SC", serif;
    font-weight: bolder;
    font-size: 27pt; 
    display: flex;
    height: 100%;
}

.top-button {
    display: flex;
}


.buttonzufall {
    display: inline-flex;           /* Text + Icon auf gleicher Höhe */
    align-items: center;            
    gap: 0.1rem;                   /* Abstand zwischen Text und Icon */
    bottom: 20px;                   
    right: 20px;                   
    padding: 0.5rem 0.5rem;           /* Kombiniert beide Padding-Angaben */
    height: auto;                   
    background-color: rgb(173, 190, 201);  /* helles Grau-Blau */
    border: none;
    border-radius: 8px;             
    cursor: pointer;
    z-index: 1000;                  /* über allen Elementen */
    font-family: 'Julius Sans One', serif; 
    font-weight: bolder;
    font-size: 1.5rem;
    color: black;                   /* Textfarbe */
    margin-bottom: 15px;
    width: 150px;
    text-align: center;
    justify-content: center;
}



.buttonzufall svg {
    vertical-align: middle;  /* Icons mittig zum Text */
    margin-left: 0.1rem;     /* optional, Abstand zwischen Text und Icon */
}

#luckyZufall-2 {
    position: fixed;       /* bleibt beim Scrollen an der Stelle */
    bottom: 20px;           /* Abstand vom unteren Bildschirmrand */
    right: 20px;            /* Abstand vom rechten Rand */
    background-color: rgb(11, 106, 170);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    height: auto;
    padding: 10px;
    color: white;
    z-index: 1000;          /* über allen anderen Elementen */
}

#backToTop {
    position: fixed;       /* bleibt beim Scrollen an der Stelle */
    bottom: 20px;           /* Abstand vom unteren Bildschirmrand */
    right: 20px;            /* Abstand vom rechten Rand */
    background-color: rgb(148, 55, 83);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    height: auto;
    padding: 10px;
    color: white;
    z-index: 1000;          /* über allen anderen Elementen */
}

#luckyZufall:hover {
    background-color: rgb(189, 103, 54);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    height: auto;
    padding: 10px;
    color: whitesmoke;
}

.navbar {
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0;
    height: 50px;
    transition: height 0.1s ease-in-out;
}

.subtitle {
    font-family: "Julius Sans One", serif;
    text-align: left;
    padding: 3px;
    padding-top: 0;
    font-weight: bolder;
    font-size: 12pt;
    border-radius: 8px;       
    margin-top: 5px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative; 
    padding: 0 20px;
    font-size: 13pt;
    text-align: left;
    font-family: "Roboto", serif;
    white-space: nowrap;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
  
.cook-item {
    display: none;  
    position: absolute;
    background-color: whitesmoke;
    z-index: 10; 
    left: 0;
    width: 150px;
    max-height: max-content;
}

.navbar-expanded {
    height: 150px;
}

.dropdown {
    position: relative;
    background-color: whitesmoke;

}      

.dropdown-menu {
    position: absolute;
    display: block;
    padding: 0;
    list-style: none;
    top: 150%;
    left: 0;
    width: 150px; 
}

.dropdown-menu li {
    font-size: 11.5pt;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-links .dropdown-menu li a {
    color: grey; 
    font-weight: 400; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: block;
    width: max-content;
    font-size: 11.5pt;
}

.nav-links .dropdown-menu li a:hover {
    color: rgb(111, 180, 180);
    font-weight: bold;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block; 
}

.nav-links a:hover {
    color: steelblue;
    font-weight: bold;
}

.navbar.expanded {
    height: 100px; 
    transition: height 0.1s ease-in-out;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    padding: 0em;
    font-family: "Amatic SC", serif;
    font-weight: bolder;
    font-size: 7rem;
}


p {
    padding: 0em;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 18pt;
}

.search-button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: -30px;
}

.search-field {
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: black;
        font-size: 15pt;
        justify-items: center;
        font-family: "Roboto", serif;
        cursor: pointer;
        padding-left: 10px;
        width: max-content;       
}  

.box1 {
    padding: 20px;
    background: rgb(111, 180, 180);
    border-radius: 8px;
    font-size: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-family: Julius Sans One, serif;
    font-weight: bolder;
}

.box2 {
    padding: 20px;
    background: rgb(224, 224, 87);
    border-radius: 8px;
    font-size: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-family: Julius Sans One, serif;
    font-weight: bolder;
}

.box3 {
    padding: 20px;
    background: rgb(234, 145, 145);
    border-radius: 8px;
    font-size: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-family: Julius Sans One, serif;
    font-weight: bolder;
}

.box4 {
    padding: 20px;
    background: rgb(185, 128, 185);
    border-radius: 8px;
    font-size: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-family: Julius Sans One, serif;
    font-weight: bolder;
}
 
 
.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.intro-zufall {
    font-family: "Amatic SC", serif;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
    padding-top: 0;
}

.zufallcontainer {
    justify-content: center;    /* horizontal zentrieren */
    align-items: center;        /* vertikal zentrieren */
}

.break-mobile {
    display: inline; /* Standard */
}

footer {
    text-align: center;
    font-family: "Julius Sans One", serif;
    font-size: 10pt;
}

#close-icon {
    display: none;
}


@media (max-width: 1180px) {
    
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }  

}

@media (max-width: 1024px) {
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
    } 

}

@media (max-width: 768px) {
    
    .grid {
        grid-template-columns: 1fr;
    } 

    .navbar {
        margin: 0;
        padding: 1vh;
        height: 50px;
    }

    .navbar.expanded {
        height: auto; 
        transition: height 0.1s ease-in-out;
    }

   
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 90px;
        width: 100%;
        font-family: "Amatic SC", serif;
    }

    .nav-links li {
        padding: 0;
        font-size: 13pt;
        margin: 0;
    }

    .dropdown-menu {
        position: absolute;
        display: block;
        padding: 0;
        list-style: none;
        top: 100%;
        left: 0;
        width: max-content;
    }

    .dropdown-menu li {
        font-size: 13pt;
        width: max-content; 
        }            

  
    .toggle-button {
        display: flex;
    }

    .nav-links.active {
        display: flex;
        background-color: whitesmoke;
    }

    .nav-links .dropdown-menu li a {
        font-size: 13pt;
    }

    .cook-item {
        font-size: 13pt;
    }

    
    .logohome {
        color: black;
        text-decoration: none;
        font-family: "Amatic SC", serif;
        font-weight: bolder;
        font-size: 16pt; 
        display: flex;
        height: auto;
    }

    .break-mobile {
        display: block; /* Zeilenumbruch erzwingen */
        margin-top: 0.2rem; /* optional, Abstand nach oben */
    }

    .h1 {
        font-size: 10pt;
    }

    .intro-zufall   {
        font-family: "Amatic SC", serif;
        font-size: 3rem;
        font-weight: bold;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .buttonzufall {
        width: 150px;
        text-align: center;
        justify-content: center;
        margin-bottom: 0.5px;                
    }

    .zufallcontainer {  
        justify-content: center;
        align-items: center;
        gap: 0.25rem;          /* Abstand zwischen Buttons verringert */
    }

}
    

