.card.result-item {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 12px;  
  transition: box-shadow 0.3s ease;
}

.card.result-item:hover {
    background-color: #e0f0f0;
}

.card-img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}


.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
}

.card-title {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
    font-weight: 700;
    color: #333;
}

.card-description {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
}

.no-results-message {
    color: #999;
    font-style: italic;
    margin-top: 20px;
}
