#search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
  margin-top: 16px;
  justify-items: start;
}

.result-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #faf9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    width: 100%;
}

.result-item:hover {
    background-color: rgb(234, 216, 197);
}

.card-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 6px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
    padding: 5px;
}

.card-title {
    margin: 0;
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Julius Sans One", serif;
}

.card-description {
    margin: 0.2rem;
    font-size: 0.8rem;
    color: #555;
}

.no-results-message {
    text-align: center;
    font-size: 1.3rem;
    color: orangered;
    font-family: "Julius Sans One", serif;
    font-weight: bolder;
}

@media (max-width: 768px) {
  #search-results {
    grid-template-columns: repeat(2, 1fr); 
  }

}

@media (max-width: 480px) {
  #search-results {
    grid-template-columns: 1fr;
  }
}


