.results-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
  margin-top: 16px;
  justify-items: start;
}

.result-item {
  display: flex;             
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.result-item:hover {
  background-color: hsl(182, 26%, 74%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border
}